/* Lorsque nous séparons le code, les fichiers individuels font tous partie d’une codebase globale, du coup Sass les appelle des partiels. Pour indiquer à Sass qu’un fichier est un partiel, on doit lui ajouter le préfixe underscore (_). */

$nightblue: #00204a; 
$yellowscale: #fdb44b; 
$white: #fff;
$breakpoints: 599px;