@charset "UTF-8";
/* Lorsque nous séparons le code, les fichiers individuels font tous partie d’une codebase globale, du coup Sass les appelle des partiels. Pour indiquer à Sass qu’un fichier est un partiel, on doit lui ajouter le préfixe underscore (_). */
/* mixin example */
* {
  box-sizing: border-box;
  padding: 0;
}

html {
  margin: 0 auto;
}
@media screen and (max-width: 599px) {
  html body {
    margin: 0;
    padding: 0;
  }
}

header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  header {
    width: 100%;
  }
}
header .navbar {
  margin-right: 80px;
  display: flex;
  align-content: center;
}
header .navbar .nav__list {
  padding: 15px;
  gap: 30px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-size: 16px;
}
@media screen and (max-width: 600px) {
  header .navbar .nav__list {
    display: flex;
    flex-direction: column;
  }
}
header .navbar .nav__list a {
  text-decoration: none;
  background-color: #333;
  /* use of mixin */
  color: #fff;
  border: 2px solid black;
  padding: 0.6rem;
  transition: all 0.5s ease-out;
}
@media screen and (max-width: 600px) {
  header .navbar .nav__list a {
    border: none;
    align-items: stretch;
  }
}
header .navbar .nav__list a:hover {
  background-color: #fff;
  color: #333;
}
header img {
  animation: 3s linear 1s running slide;
}
@keyframes slide {
  0% {
    transform: translateX(100vh);
    width: 50%;
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 600px) and (min-width: 399px) {
  header img {
    display: none;
  }
}

/* extension example & we can also use the Sass placeholder*/
/* @extend .background; use of extension */
/* %background{
    background-position: inherit;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
} */
.intro {
  padding: auto;
  margin: 1px;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url("/HTML-CSS-Projects-TP/tools/images/background-img.png");
  /* @extend %background; */
  background-position: inherit;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.intro span {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  margin-top: 10%;
  line-height: 1.5em;
}
.intro span .section__title {
  color: whitesmoke;
}
.intro span .section__title strong {
  font-size: 3rem;
  color: red;
}
.intro span .section__subtitle {
  color: #0092ca;
  font-weight: bold;
  font-size: 1.7rem;
}
.intro span .section__subtitle-about {
  color: #fdb44b;
  font-size: large;
  font-weight: bold;
}
.intro span .icon {
  margin: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.intro span .icon img {
  box-shadow: 5px 5px 5px 0 rgb(0, 0, 0);
  border-radius: 12px;
  animation: 4s linear 0s infinite alternate sunrise;
}
@keyframes sunrise {
  from {
    transform: translateY(10vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
  }
}
.intro .myself {
  z-index: 2;
  height: 100%;
  width: 100%;
  filter: brightness(1.2);
  box-shadow: rgba(102, 100, 100, 0.5) 2px 5px 15px;
}
.intro .myself:hover {
  border: 1px solid #777;
}

.my-services {
  margin: 1px;
  padding-top: 0.5px;
  background: url("https://www.codewithrandom.com/wp-content/uploads/2022/10/Number-Guessing-Game-using-JavaScript-3.png") no-repeat scroll;
  background-size: cover;
  background-position: center;
  margin-top: 0px;
  margin-left: 2px;
  margin-right: 2px;
  padding-block: 10px;
}
.my-services .section__title {
  text-align: center;
}
.my-services .section__title .btn {
  text-decoration: none;
}
.my-services .services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
@media screen and (max-width: 600px) {
  .my-services .services {
    display: flex;
    flex-direction: column;
  }
}
.my-services .services .service {
  margin: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 7px;
  transition: box-shadow 0.5s;
  transition-timing-function: ease-in-out;
}
.my-services .services .service:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 5px 5px 8px rgb(0, 255, 187);
}
.my-services .services .service h3 {
  padding: 10px;
  text-align: center;
}
.my-services .services .service p {
  padding: 8px;
}
.my-services .services .service img {
  margin-left: 40px;
  height: 200px;
  width: 300px;
  transition: height 2s, width 3s;
  transition-timing-function: ease-in-out;
}
.my-services .services .service img:hover {
  width: 350px;
  height: 300px;
}

.presentation {
  margin: auto;
  padding: auto;
}

.portfolio {
  margin: 1px;
  padding-top: 1px;
  background: url("https://www.codewithrandom.com/wp-content/uploads/2022/10/Number-Guessing-Game-using-JavaScript-3.png") no-repeat scroll;
  background-size: cover;
  background-position: top;
}
.portfolio h2 {
  text-align: center;
}
.portfolio article {
  padding: 8px;
  display: flex;
  gap: 8px;
}
.portfolio article .portfolio-item {
  color: black;
  transition: border-radius 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
  text-decoration: none;
}
.portfolio article .portfolio-item:hover {
  border-radius: 35px;
}
.portfolio article .portfolio-item:focus {
  text-decoration: none;
}
.portfolio article .portfolio-item .portfolio-img {
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 33px;
  width: 60%;
  height: 40%;
}
.portfolio article .portfolio-item .portfolio-img:hover {
  opacity: 0.7;
}
.portfolio article .portfolio-item p {
  text-align: center;
}
.portfolio article a {
  border: 1px solid #fff;
}

.footer {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  margin-top: 3px;
  display: flex;
  justify-content: center;
}
.footer .social_list {
  display: flex;
  list-style-type: none;
}
.footer .social_list .social_list-item a {
  text-decoration: none;
}/*# sourceMappingURL=mycurriculum.css.map */