@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Fascinate&family=Source+Sans+Pro&family=Yellowtail&display=swap');

/* Grafikart - Restaurant le carré */
/* * {
  scroll-behavior: smooth;
} */

body {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 1px;
  padding: 1px;
  overflow: auto;
  line-height: 1.4;
  font-size: 18px;
  max-width: 100%;
  height: auto;
}

body p {
  text-align: justify;
}

/* Header */
#header {
  color: #000;
  padding: 15px;
  height: auto;
  width: auto;
  display: flex;
  background-color: black;
  font-size: large;
}

#header .header-nav {
  font-weight: bold;
  
}

#header .header-nav a {
  padding: 10px;
  margin: 20px;
  border-bottom: 2px solid #005792;
}

#header .header-nav .online-order {
  background-color: grey;
  border-radius: 30px;
}

#header img {
  position: relative;
  width: auto;
  height: auto;
  animation-name: twinkle;
  animation-duration: 2s;
  /* animation-iteration-count: infinite; */
  animation-timing-function: linear;
}

@keyframes twinkle {
  50% {
    transform: scale(0.5);
  }
}
#header nav {
  margin: 20px;
}

#header > nav > a {
  text-decoration: none;
  margin: 0 10px;
  padding: 0;
  color: #ffffff;
}

#animation {
  background-image: url('https://static.wixstatic.com/media/a560a5_b853391614784564812f6615dcee4971~mv2.png/v1/crop/x_0,y_36,w_2655,h_2656/fill/w_734,h_734,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/greens.png');
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
  background-color: #000;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#animation p{
  margin: 40px;
  flex-shrink: 5;
  padding-right: 40px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 1.6em;
  padding-top: 20px;
  animation-name: launch-p;
  animation-duration: 4s;
  animation-timing-function: ease-in;
}

#animation p span{
  font-family: 'Berkshire Swash', cursive;
  color: green;
  text-transform: capitalize;
  font-size: 3em;
  letter-spacing: normal;
  font-weight: bold;
}

#animation img{
  z-index: 1;
  flex-shrink: 1;
  height: 500px;
  animation-name: launch-img;
  animation-duration: 4s;
  animation-timing-function: ease-out;
}

@keyframes launch-img{
  20% {
    transform: scaleX(1.2);
  }
}

@keyframes launch-p {

  50% {
    transform:scaleX(-1.2);
  }
}

 @media screen and (max-width: 600px) {
    #header{
        max-height: 100%; 
        max-width: auto;
    }
    #header .header-nav{
      display: grid;
      grid-template-columns: 1fr;
      grid-row: 1px;
      margin-top: -19px;
      margin-left: 80px;
      padding: -1rem;
    }
    section #recipes .card{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
}

section{
  margin-top: -20px;
  background-color: antiquewhite;
}

section #recipes{
  color: #fff;
  background: linear-gradient(rgba(57, 57, 57, 0.9), rgba(0, 0, 0, 0.8)), url('/HTML-CSS-Projects-TP/tools/images/grafikart-img6.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

section #about-us {
  line-height: 1.2;
}

section #about-us p{
  font-size: 22px;
  text-align: center;
  margin-bottom: 0;
  font-family: 'Dancing Script', cursive;
}

section #about-us h2 {
  padding-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

section #recipes h2{
  color: red;
  text-align: center;
  text-transform: capitalize;
}

section #recipes p{
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  text-align: center;
  color: whitesmoke;
}

section > #recipes > .recipes {
  height: 300px;
  width: 350px;
  margin: 0 auto;
}

section #recipes .card img{
  width: 400px;
  height: 350px;
  border-radius: 30px;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px 3px rgb(0, 90, 90);
}

section #recipes .card img:hover{
  box-shadow: 2px 2px 2px 10px rgb(0, 90, 90);
  zoom: 110%;
}

section #recipes .card{
  margin-left: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 50px;
  grid-column-gap: 10px;
  grid-row-gap: 7px;
  /* animation: hover-img 3s ease; */
}

#recipes > .recipes:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 5px 5px grey;
}

article .form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin: 10px;
  width: 450px;
}

article {
  margin-top: .5px;
  justify-content: space-between;
  display: flex;
  height: auto;
  padding: 0;
  background-color: #2c786c;
  flex-direction: row;
}

article .aside #order{
  font-family: 'Dancing Script', cursive;
  color: black;
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  margin: -1px;
}
article .aside p{
  font-family: 'Dancing Script', cursive;
  color:black;
  text-align: center;
}

article .aside {
  margin: 10px;
}

article .form form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
  margin: 15px 10px;
  width: 400px;
  height: 450px;
}

article form input {
  margin: 15px;
  padding: 15px;
  display: flex;
  border-bottom: 2px solid black;
}

article form textarea {
  margin: 15px;
  padding: 20px;
}

textarea, input {
  outline: 0;
  border-radius: 6px;
  border: 2px solid;
}

textarea {
  margin-bottom: 10px;
}

article .form form button {
  background-color: #000000;
  color: #fff;
  border: 2px;
  padding: 15px;
  border-radius: 6px;
  width: 370px;
  margin-left: 17px;
  font-weight: bold;
}

/* Footer */
footer {
  margin: 0 auto;
  padding: auto;
  display: grid;
  flex-direction: column;
}

footer p{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

footer .media > li {
  padding: auto;
  text-decoration: none;
  list-style-type: none;
}

footer .media {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer .media li a:hover{
  opacity: 0.8;
}

footer .media li a img{
  align-content: space-between;
}

/* Carrousel */
section .carousel-wrapper {
  width: 1350px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  border-radius: 20px;
  margin: 10px auto 20px;
}
section .carousel-container {
  width: 1350px;
  height: 450px;
  overflow: hidden;
  margin: 0 auto;
}
section .carousel {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 0 auto;
  animation: sliding 5s infinite;
}
section .carousel div {
  width: 800px;
  height: 750px;
  background-size: cover;
  background-position: center;
}
section .carousel:hover {
  animation-play-state: running;
}
section .carousel .image-one {
  background-image: url("/HTML-CSS-Projects-TP/tools/images/grafikart-img2.jpeg");
}
section .carousel .image-two {
  background-image: url("/HTML-CSS-Projects-TP/tools/images/grafikart-img1.jpeg");
}
section .carousel .image-three {
  background-image: url("/HTML-CSS-Projects-TP/tools/images/grafikart-img2.jpeg");
}
section .carousel .image-four {
  background-image: url("/HTML-CSS-Projects-TP/tools/images/grafikart-img1.jpeg");
}
@keyframes sliding {
  0% {
    transform: translateX(0);
    gap: 30px;
  }
  15% {
    transform: translateX(-50px);
    gap: 35px;
  }
  30% {
    transform: translateX(-100px);
    gap: 40px;
  }
  35% {
    transform: translateX(-110px);
    gap: 45px;
  }
  50% {
    transform: translateX(100px);
    gap: 50px;
  }
}
@media screen and (max-width: 768px) {
  section .carousel-wrapper {
    width: 300px;
    height: 210px;
  }
  section .carousel-container {
    width: 240px;
    height: 150px;
  }
  section .carousel {
    width: 720px;
  }
  section .carousel > div {
    width: 240px;
    height: 150px;
  }
  @keyframes sliding {
    30% {
      transform: translateX(0);
    }
    35% {
      transform: translateX(-240px);
    }
    65% {
      transform: translateX(-240px);
    }
    70% {
      transform: translateX(-480px);
    }
    98% {
      transform: translateX(-480px);
    }
    100% {
      transform: translateX(0);
    }
  }
}